
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 193 27% 96%;
    --foreground: 200 68% 10%;
    --card: 0 0% 100%;
    --card-foreground: 200 68% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 200 68% 10%;
    --primary: 200 68% 57%;
    --primary-foreground: 0 0% 100%;
    --secondary: 193 27% 90%;
    --secondary-foreground: 200 68% 20%;
    --muted: 193 15% 92%;
    --muted-foreground: 200 20% 45%;
    --accent: 164 66% 57%;
    --accent-foreground: 200 68% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 20% 88%;
    --input: 200 20% 88%;
    --ring: 200 68% 57%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body scroll-smooth;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
